<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>Hey.</h2>
					</header>
					<p>Welcome to <strong>{{ this.theme.site_name }}</strong> a responsive site template designed
					by <a href="https://html5up.net">HTML5 UP</a>, built on <a href="http://skel.io">Skel</a>,
					and released for free under the <a href="https://html5up.net/license">Creative Commons Attribution license</a>.</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
</section>