		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
	    <meta name="keywords" content="{{ this.theme.keywords }}">
	    <meta name="author" content="{{ this.theme.website_author }}">
	    <title>{{ this.theme.site_name }} - {{ this.page.meta_title|default(this.page.title) }}</title>
	    <link rel="canonical" href="{{ this.theme.website_url }}" />
	    <link rel="icon" type="image/png" href="{{ 'assets/images/icon.png'|theme }}" />
	    <link href="{{ 'assets/css/main.css'|theme }}" rel="stylesheet">
	    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	    {% styles %}