<script src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
			<script src="{{ 'assets/js/jquery.poptrox.min.js'|theme }}"></script>
			<script src="{{ 'assets/js/jquery.scrolly.min.js'|theme }}"></script>
			<script src="{{ 'assets/js/jquery.scrollex.min.js'|theme }}"></script>
			<script src="{{ 'assets/js/skel.min.js'|theme }}"></script>
			<script src="{{ 'assets/js/util.js'|theme }}"></script>
			<!--[if lte IE 8]><script src="{{ 'assets/js/ie/respond.min.js'|theme }}"></script><![endif]-->
			<script src="{{ 'assets/js/main.js'|theme }}"></script>